.world-section{
    
    h1{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 100;
        color: darkred;
    }
}

.world-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.world-section-content{
    margin: 0 3rem;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
    font-size: 21px;
    height: 20vh;
    width: 100vh;
    border: 1px solid black;
    border-radius: 4%;
    padding: 3rem 0.2rem;
    cursor: pointer;
    padding-top: 4%;
    text-align: center;
    margin-bottom: 50px;


    .first-number{
        color: green;
        font-weight: bold;
    }

    .second-number{
        color: red;
        font-weight: bold;
    }

    .third-number{
        color: blue;
        font-weight: bold;
    }
}
.world-section-content:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

