*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-image: url('https://www.bloomberg.com/graphics/2020-coronavirus-cases-world-map/img/2020-coronavirus-cases-world-map-facebook.png?t=202011091543')
}